{% extends 'base.html' %}

{% block content%}

<form action="{% url 'create_book' %}" method="post"> {% csrf_token %}
    Title: <input type="text" placeholder="Enter Title" name="title"> <br/>
    Publication Date: <input type="date" name="publication_date"> <br/>
    publisher: <select id="publisher" name="publisher">
    {% for publisher in publishers %}
        <option value="{{ publisher }}">{{ publisher }}</option>
    {% endfor %}
    </select> <br/>
    <button type="submit">Create</button>
</select>
</form>


{% endblock %}