<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book reviews</title>
<style>
#publishers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#publishers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#publishers tr:nth-child(even){background-color: #f2f2f2;}

#publishers tr:hover {background-color: #ddd;}

#publishers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

</head>
<body>
    <table id="publishers">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>website</th>
            <th>email</th>
        </tr>
        {% for publisher in publishers %}
        <tr>
            <td>{{ publisher.id }}</td>
            <td>{{ publisher.name }}</td>
            <td>{{ publisher.website }}</td>
            <td>{{ publisher.email }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>